
.menu{
    overflow: hidden;
}

.bg_yellow{
    background-color: yellow;
}

.bg_red{
    background-color: red;
}

.menu-item{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    transition: 0.3s;
}